body { 
    font-family: 'Montserrat', sans-serif;
    color:  rgb(15, 19, 26);
    /* background: url(https://serving.photos.photobox.com/27381133d822c19b4199390d92eaf00e1a409d4ddeadf3cb76ab98ecc30adec415e39b56.jpg) no-repeat center center fixed;  */
    background: url(https://resi.ze-robot.com/dl/sa/san-juan-mountains-colorado-photo-credit-to-dan-carreno-1600%C3%971200.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activityCards {
    display: flex;
    flex-flow: row wrap;
    width: 900px;
    margin: auto;
    justify-content: space-around;
    opacity: 0.8;
}

.activity {
    /* display: flex;
    flex-direction: column; */
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 8px;
    box-sizing: border-box;
    /* flex-shrink: 0; */
    background-color:#f2f2f2
}

.activity img {
    width: 100%;
}

.activity h1 {
    text-align: center;
    padding: 8px 4px;
    margin-bottom: 10px;
}

form {
    width: 200px;
    margin-bottom: 10px;
    border:1px solid gray;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    display: block;
    text-align: left;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: rgb(32, 61, 102);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
