body { 
    font-family: 'Montserrat', sans-serif;
    color:  rgb(15, 19, 26);
    /* background: url(https://serving.photos.photobox.com/27381133d822c19b4199390d92eaf00e1a409d4ddeadf3cb76ab98ecc30adec415e39b56.jpg) no-repeat center center fixed;  */
    background: url(https://resi.ze-robot.com/dl/sa/san-juan-mountains-colorado-photo-credit-to-dan-carreno-1600%C3%971200.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::after {
    content: "";
    background: white;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

body, header {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(255,255,255,0.7);
    height: 85px;
    
}

#gradient {
    background-image: linear-gradient( rgba(255,255,255,.7), rgba(255,255,255,0));
    height: 75px;
}

#home_button {
    border: none;
    outline: none;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 220px;
}

.weather {
    height: 330px;
    width: 20%;
    background-color:#f2f2f2;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
}

h3 {
    padding-bottom: 7px;
    font-size: 20px;
}

.image {
    height: 120px;
}

.aside {
    height: 330px;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
}

.asideButton {
    margin-top: 50px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 0px;
}

img {
    margin-top: 10px;
    margin-bottom: 30px;
}

a {
    width: 150px;
    height: 20px;
    background: rgb(99, 126, 163);
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(5, 6, 8);
}

.activityCards {
    display: flex;
    flex-flow: row wrap;
    width: 1200px;
    margin: auto;
    justify-content: space-around;
    padding-top: 100px;
    /* opacity: 0.8; */
    /* background: rgba(255,255,255,0.6); */


}

.activity {
    /* display: flex;
    flex-direction: column; */
    width: 250px;
    margin-bottom: 40px;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
    /* flex-shrink: 0; */
    /* background-color:#f2f2f2 */
    background: rgba(255,255,255,0.9);

}

.activity img {
    width: 100%;
}

.activity h1 {
    text-align: center;
    padding: 8px 4px;
}

form {
    width: 250px;
    margin-bottom: 10px;
    border:1px solid gray;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    display: block;
    text-align: left;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(32, 61, 102);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


form {
    color: rgb(26, 15, 17)
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
}