body {
    font-family: 'Montserrat', sans-serif, rgb(41, 40, 40);
}

body { 
    background: url(https://resi.ze-robot.com/dl/sa/san-juan-mountains-colorado-photo-credit-to-dan-carreno-1600%C3%971200.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body::after {
    content: "";
    background: white;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
    opacity: 0.5;
    text-align: center;
}

.weather {
    height: 250px;
    width: 20%;
    background-color: rgb(113, 142, 184);
    border-radius: 25px;
}

.aside {
    height: 250px;
    width: 20%;
    background-color: rgb(113, 142, 184);
    border-radius: 25px;
}
