body { 
    font-family: 'Montserrat', sans-serif;
    color:  rgb(15, 19, 26);
    /* background: url(https://serving.photos.photobox.com/27381133d822c19b4199390d92eaf00e1a409d4ddeadf3cb76ab98ecc30adec415e39b56.jpg) no-repeat center center fixed;  */
    background: url(https://resi.ze-robot.com/dl/sa/san-juan-mountains-colorado-photo-credit-to-dan-carreno-1600%C3%971200.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::after {
    content: "";
    background: white;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

body, header {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* background: rgba(255,255,255,.8); */
    height: 85px;
    /* border-radius: 0px 0px 10px 10px; */
}

nav h1 {
    font-size: 50pt;
    margin-bottom: 55px;
    margin-left: -10px;
    /* font-family: 'Luckiest Guy'; */

}

#home_button {
    border: none;
    outline: none;
}

#logo{
    height: 200px;
    margin: 0;
    margin-top: -25px;
}

#navLink {
    background: none;
}

#weatherLocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
}

#weatherLocation input[type=text] {
    width: 170px;
    margin-left: 15px;
    margin-right: 15px;
}

#weatherLocation input[type=submit] {
	/* background: url("submit.png") no-repeat center center; */
	width: 80px;
	/* height: 0;
	border: none;
    color: transparent; */
    background: rgb(74, 119, 170);
}

#locationLabel{
    width: 105px;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 270px;
}

.weatherBoxes {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color:#f2f2f2;
    border-radius: 10px;
    background: rgba(255,255,255,.75);
    margin-bottom: 20px;
}

.circleContainer {
    width: 140px;
    height: 140px;
    background: rgb(74, 119, 170);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.weatherForm {
    height: 60px;
    width: 100%;
    background-color:#f2f2f2;
    border-radius: 10px;
    background: rgba(255,255,255,.75);
}

h3 {
    padding-bottom: 7px;
    font-size: 20px;
}

.image {
    height: 120px;
}

.aside {
    height: 395px;
    width: 35%;
    background-color: #f2f2f2;
    border-radius: 10px;
    background: rgba(255,255,255,.75);
}

.asideButton {
    margin-top: 50px;
}

#planDiv {
    display: flex;
    margin-left: 20px;
}

#listItem {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15pt;
}

#delete {
    height: 25px;
    margin-top: 10px;
    background: rgb(74, 119, 170);
}


/* h3 {
    margin-top: 0px;
    margin-bottom: 0px;
} */

/* h1 {
    margin-bottom: 0px;
} */

img {
    margin-top: 10px;
    margin-bottom: 30px;
}

a {
    width: 150px;
    height: 20px;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(5, 6, 8);
    background: rgb(74, 119, 170);
}

.activityCards {
    display: flex;
    flex-flow: row wrap;
    width: 1200px;
    margin: auto;
    justify-content: space-around;
    padding-top: 220px;
}

.activity {

    width: 350px;
    margin-bottom: 40px;
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,.75);
    border-radius: 10px;
}

.activity img {
    width: 100%;
}

.activity h1 {
    text-align: center;
    padding: 8px 4px;
}

.buttonDiv {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#addForm {
    width: 650px;
    margin-bottom: 10px;
    border:1px solid gray;
    box-sizing: border-box;
    display: block;
    text-align: left;
    background: rgba(255,255,255,.75);
    padding: 20px;
    border-radius: 10px;
}

#addForm h3 {
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: rgb(32, 61, 102);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editForm {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    background: rgba(255,255,255,.75);
}

#editForm h2 {
    text-align: center;
    margin: 0;
}